html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #222;
  font-family: Arial, Helvetica, sans-serif;
}
#bar {
  box-shadow: inset -4px 4px 10px rgba(0,0,0,0.8);
  width: 250px;
  float: left;
  height: 100%;
  background: #111;
}
canvas {
  cursor: crosshair;
  float: left;
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}
canvas.hidden {
  display: none;
}
#results {
  clear: both;
  margin: 5px;
  padding: 0;
}
li span {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;
}
li { 
  color: #ddd;
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  padding:0 0 5px 0px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  max-height: 100px;
  overflow: hidden;
}
li.hideme {
  max-height: 0;
}
#dropbox {
  margin: 10px;
  height: 220px;
  width: 220px;
  border-radius: 5px;
  color: #eee;
  text-align: center;
  line-height: 200px;
  background: #333;
  text-shadow: 1px 1px 3px #000;
  float: left;
  position: relative;
}
#drop {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 220px;
  width: 220px;
}
#drop.over {
  background: rgba(33,33,33,0.7);
}
h1 {
  color: lime;
  text-shadow: 1px 1px 3px #000;
  font-size: 1.2rem;
  padding-left: 20px;
  font-weight: normal;

}
h2 {
  color: #ccc;
  text-shadow: 1px 1px 3px #000;
  font-size: 1rem;
  padding-left: 20px;
  font-weight: normal;

}
#info {
  margin: 60px 20px 20px 20px;
  color: #eee;
  float: left;
  font-size: 1.2rem;
  width: 500px;
  line-height: 1.3em;
}
#info.hidden {
  display: none;
}
#codebox {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 10px;
  top: -800px;
  left: 280px;
  right: 100px;
  padding: 10px 20px 80px 20px;
  transition: 1s;
  -webkit-transition: 1s;
}
#codebox.visible {
  top: 20px;
}
#codebox textarea {
  border: none;
  color: #eee;
  background: #222;
  padding: 10px;
  font-family: monaco, monospace;
  display: block;
  width: 95%;
  height: 20rem;
}
#hidecode {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
button {
  background: lime;
  color: #000;
  font-size: 0.8rem;
  border: none;
  font-weight: bold;
}
li button {
  float: right;
  background: transparent;
  color: #eee;
}
output {
  height: 20px;
  overflow: hidden;
  color: #fff;
  background: #111;
  padding: 5px;
  display: block;
}
b {
  text-align: center;
  float: left;
  height: 20px;
  font-weight: normal;
}
.swatch, .result {
  width: 50px;
  text-shadow: 2px 2px 0 #000;
}   
.fullswatch {
  width: 50px;
  margin-left: 10px;
}
.opacity {
  text-shadow: none;
  color: #000;
}
footer {
  clear: both;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100%;
  text-align: right;
  color: #999;
  font-size: 0.9rem;
}
footer a {
  color: #ccc;
}